



header{
  font-size: 30px;
}
.Home{
  background-image:url('C:\Users\הכוח לתת\create-react-test-diy\src\images\XO-1.png');
  background-repeat: repeat-y;

  text-align: center;

}

.grid-container {



  margin: 0 auto;
  padding: 150px;

  width: 1000px;
  height: 1000px;
  display: grid;
  grid-template-columns: 30% 30% 30%;

}
p{
  font-size: 16px;
  color: aqua;
}
div{

  color: aqua;
}
button{
  align-items:center;
  opacity: 1;;
  
font-size: 30px;
}
