

header{
  font-size: 30px;
}
.Home{
  text-align: center;
}

.grid-container {
  margin: 0 auto;

  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  background-color:rgb(208, 208, 208);

}
p{
  font-size: 16px;
  color: aqua;
}
div{

  color: aqua;
}
button{
  align-items:center;
}
